body {
    background-color: yellowgreen;

    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style:italic;
    text-align: center;
}

.container {
    text-align: center;
}

.flower1 {
    display: inline-block;
    text-align: center;
    margin-left: 0;
}

.flower2 {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

h1 {
    color: white;
    text-align:center;
    font-size: 100px;
    margin-left: 50px;
}

p {
    color: white;
    font-size: 35px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 95px;
    font-size: 25px;
    margin-left: 20px;
}